<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <title>{% block title %}{% endblock %}</title>
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'blog/style.css' %}"
    />
  </head>
  <body>
    <div class="container">
      <ul class="nav bg-info">
        <li class="nav-item">
          <a class="nav-link link-light" href="/">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-light" href="/contact">CONTACT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-light" href="/about">ABOUT</a>
        </li>
      </ul>

      <div class="container my-5">
        <h1 class="text-center">Football Live Scores</h1>
        {% for result in jsonResponse %} {% if jsonResponse.error %}

        <div class="alert alert-primary d-flex align-items-center" role="alert">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentColor"
            class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2"
            viewBox="0 0 16 16"
            role="img"
            aria-label="Warning:"
          >
            <path
              d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
            />
          </svg>
          <div>Sorry! There are no matches today</div>
        </div>

        {% else %}

        <div class="row">
          <div class="col-5 d-flex justify-content-between">
            <div>
              <img
                src="{{ result.team_home_badge}}"
                alt="Team 1"
                class="team-logo"
              />
            </div>
            <div class="mx-2">{{ result.match_hometeam_name}}</div>
          </div>
          <div class="col-2 d-flex justify-content-center">
            {{ result.match_hometeam_ft_score}} -
            {{result.match_awayteam_ft_score}}
          </div>
          <div class="col-5 d-flex justify-content-center">
            <img
              src="{{result.team_away_badge}}"
              alt="Team 2"
              class="team-logo"
            />
            <div class="mx-2">{{ result.match_awayteam_name}}</div>
          </div>
        </div>
        {% endif %} {% endfor %}
      </div>
    </div>
  </body>
</html>
